*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
  display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;  
    background-color: #4682B4;
}

#filter{
    border-radius: 5px;
    width: 300px;
    border: 1px solid black;
    position: absolute;
    margin-top: 20px;
    height: 30px;

    
}
#postsdad{
    height: auto;
    width: 100vw;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
margin-top: 60px;
}
#postbtn{
    position: absolute;
    margin-left: 600px;
    margin-top:20px ;
    height: 25px;
    width: 70px;
    font-size: 15px;
    border-radius: 10px;
    background-color:#2D68C4;
    color: aliceblue;
    border: 1px solid black;
}


 #postinputar{
    background-color: #B0E0E6;
    height: 350px;
    width: 500px;
    display: flex;                    
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    display: none;                   
      position: fixed;                 
    top: 50%;                        
      left: 50%;                       
      transform: translate(-50%, -50%);
      z-index: 1000;                   
      border-radius: 15px;             
}

.block{
    display: flex !important;        
}
#postinputar input{
    width: 300px;
    height: 30px;

}
#postsdad div{
    font-size: 28px !important;   
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

